<% if user_signed_in? %>
    <% if current_user.setting_id == 1 %>
        <li>
          <%= link_to('Create Settings', '/settings/new') %>
        </li>
    <% else %>
        <li>
          <%= link_to('Edit Settings', '/settings') %>
        </li>
    <% end %>
<% end %>