<section class="alt extra-space top" style="background-color:rgba(0, 44, 22, 0.80);">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="jumbotron">
          <h2>Rules:</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="matchSection" class="alt extra-space">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-1 column">
      </div>
      <div class="col-md-10 column">
        <div class="frontGame" style="display: box">
          <div class="panel panel-default">
            <div class="match_body">


              <ul>
                <h4>Game Selection (General)</h4>
                <li>During the special competitions (World Cup, Euro etc) all games are preselected according to the
                  tournament schedule.
                </li>
                <li>During the regular season matches are picked based on the importance of the match.</li>
              </ul>
              <br/>

              <ul>
                <h4>Regular Season Game Selection</h4>
                <li>International Club competitions (UEFA Champions League, UEFA Europa League, UEFA Super Cup, FIFA
                  World Club Cup)
                </li>
                <li>International National Teams Competitions (Qualifying for the World Cup and Euro, Confederation Cup,
                  top friendlies)
                </li>
                <li><strong>Top European competitions:</strong>
                  <ul>
                    <li>English Premier League (including FA Cup, FA Carling Cup and FA Community Shield)</li>
                    <li>Spanish La Liga (including Copa del Rey and Supercopa de Espana)</li>
                    <li>Italian Serie A (including Coppa Italia and Supercoppa Italiano)</li>
                    <li>German Futbol Bundesliga (including DFB-Pokal and DFB-Supercup)</li>
                    <li>Russian Premier League (including Russian Cup and Russian Super Cup)</li>
                    <li>In addition, major matches like Celtic vs Glasgow Rangers, Dynamo Kyiv vs Shakhtar, Argentina vs
                      Brazil, MSL Finals, etc. may be chosen for considerations.
                    </li>

                  </ul>
                </li>
              </ul>

              <br/>
              <ul>
                <h4>Games Availability</h4>
                <li>The games are posted each week (up to 10 games per week)</li>
                <li>During the regular season matches are picked based on the importance of the match.</li>
                <li>In case if the kick-off time is unknown, 00:00 time is selected, meaning that users have to submit
                  their scores 10-12 hours in advance
                </li>
                <li>Matches have to be submitted at least 5 days in advance</li>
                <li>Match results are submitted by an administrator or designated moderator after the match is
                  completed.
                </li>
              </ul>
              <br/>

              <ul>
                <h4>Scores Submissions</h4>
                <li>User can submit his prediction scores until the beginning of the match if kick-off time is known.
                  Time left is indicated on each match.
                </li>
                <li>Player can set or change the guessed score at any time before the start of the match.</li>
                <li>Player's scores won't be available for the public view until the beginning of the match.</li>
                <li>Matches have to be submitted at least 5 days in advance</li>
              </ul>

              <br/>

              <ul>
                <h4>Point system</h4>
                <li>3 points - guessing a score correctly</li>
                <li>1 point - guessing a result of a match (winner, looser or a draw)</li>
                <li>0 points - missing the score completely</li>
                <li>
                  In case of the after-match penalties (cup games)
                  <ul>
                    <li>3 extra points - for guessing penalties shootout score correctly.</li>
                    <li>1 extra points - for guessing penalties shootout result correctly.</li>
                  </ul>
                  In order to qualify for the additional points, user must receive points for that match (guessing the
                  score or the result).
                </li>
              </ul>

              <br/>

              <ul>
                <h4>Rules for classification in case of a draw</h4>
                <li>Total number of points</li>
                <li>Fewer guesses submitted</li>
                <li>Number of wins (3, 4 or 6 pointers)</li>
                <li>Form for the last 5 matches</li>
                <li>Coin toss</li>
              </ul>

              <br/>

              <ul>
                <h4>Users/Registration</h4>
                <li>New users are always welcomed.</li>
                <li>After registration, a user will receive a confirmation link.</li>
                <li>During the first login, the new user will be asked to change his settings and will receive a guest
                  privileges (view and observe).
                </li>
                <li>A new user will have to be approved by an administrator before getting full privileges</li>
                <li>If a user is joining a project after the beginning, he will be granted the same amount of points as
                  the person with least amount of points.
                </li>
                <li>After 3 weeks of inactivity, user's account will be frozen.</li>

              </ul>


            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 column">
      </div>
    </div>
  </div>
</section>

