<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <p>Designed and built with all the love of the football (that's how we call soccer).</p>

      <p>Copyright © 2010-2014, Goals.Club. All rights reserved</p>
    </div>
  </div>
</div>